h1 {
  font-family: Aldo, sans-serif;
  color: #bca19a;
}

.social-link {
  display: inline-flex;
  transition: 1s ease-out;
}

.social-link:hover {
  transform: translateY(-0.25rem);
}

.bio-card {
  max-width: 400px;
  display: inline-block;
}

.bio-image {
  background-image: url('src/assets/img/icon/Visage beige+ongle-rouge.png');
  background-size: cover;
}

#google-map {
  display: inline;
  float: right;
}

agm-map {
  height: 400px;
  width: 400px;
}

#formulaire {
  width: 400px;
  float: right;
}

#formulaire mat-form-field {
  width: 100%;
  float: right;
}
