<mat-card class="bio-card">
  <mat-card-header>
    <div mat-card-avatar class="bio-image"></div>
    <mat-card-title>Mon petit doigt m'a dit...</mat-card-title>
    <mat-card-subtitle>Mathilde Le Guernevé</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      monpetitdoigtmadit.nantes@gmail.com
    </p>
    <p>
      87 boulevard Robert Schuman
      Nantes
    </p>
    <p>
      <a class="social-link" title="Instagram" href="https://www.instagram.com/monpetitdoigtmadit_nantes" target="_blank"
         rel="noopener">
        <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Instagram"></mat-icon>
      </a>
    </p>
  </mat-card-content>
</mat-card>

<div id="google-map">
  <h2>Horaires</h2>
  <p>
    Lundi : 14h - 20h
    <br>
    Mardi au Samedi : 10h - 20h
  </p>

  <h2>Plan</h2>

  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

<!--<div id="formulaire">-->
<!--  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">-->
<!--    <div>-->
<!--      <mat-form-field class="formField">-->
<!--        <label>-->
<!--          <input matInput placeholder="Email" formControlName="email" required>-->
<!--        </label>-->
<!--        <mat-error *ngIf="contactForm.invalid">L'email n'est pas valide</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div>-->
<!--      <mat-form-field class="example-full-width">-->
<!--        <mat-label>Message</mat-label>-->
<!--        <textarea matInput placeholder="Ex. Wow trop beau le site web" formControlName="message"-->
<!--                  rows="1" maxlength="200" cdkAutosizeMaxRows="15"></textarea>-->
<!--        <mat-error *ngIf="contactForm.invalid">Le message ne peut être vide</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <button type="submit" [disabled]="contactForm.invalid" mat-raised-button color="accent">Envoyer</button>-->
<!--  </form>-->
<!--</div>-->
