<mat-grid-list [cols]="breakpoint" rowHeight="250px" gutterSize="0">
  <mat-grid-tile *ngFor="let picture of pictures">
    <img class="fit-picture" [src]="picture.src" [alt]="picture.alt">
  </mat-grid-tile>
</mat-grid-list>
