<mat-grid-list gutterSize="50px" [cols]="breakpoint" rowHeight="175px" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <div class="price-category">
      <h2>Ongles naturels</h2>
      <div>
        <span>Manucure + semi permanent</span>
        <span class="price">30€</span>
      </div>
      <div>
        <span>Manucure + vernis simple</span>
        <span class="price">25€</span>
      </div>
      <div>
        <span>Dépose semi permanent + soin des ongles</span>
        <span class="price">20€</span>
      </div>
      <div>
        <span>Dépose semi permanent + pose de vernis simple</span>
        <span class="price">25€</span>
      </div>
      <div>
        <span>Retrait vernis simple</span>
        <span class="price">5€</span>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="price-category">
      <h2>Ongles en gel</h2>
      <div>
        <span>Extensions charbon</span>
        <span class="price">45€</span>
      </div>
      <div>
        <span>Gainage et remplissage</span>
        <span class="price">40€</span>
      </div>
      <div>
        <span>Pose d'extensions Gel X Après Nails</span>
        <span class="price">50€</span>
      </div>
      <div>
        <span>Dépose gel et extensions</span>
        <span class="price">25€</span>
      </div>
      <div>
        <span>(cuticules, manucure, couleur et soins)</span>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="price-category">
      <h2>Soins des mains</h2>
      <div>
        <span>Bien-être des mains</span>
        <span class="price">30€</span>
      </div>
      <div>
        <span>(manucure, gommage, soins des cuticules, hydratation)</span>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="price-category">
      <h2>Nailart</h2>
      <div>
        <span>Strass,poudre, pigments et stickers</span>
        <span class="price">1€</span>
      </div>
      <div>
        <span>Swarvoski, 3D, foils et ombré</span>
        <span class="price">2€</span>
      </div>
      <div>
        <span>Forfait double face</span>
        <span class="price">10€</span>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>




