<!-- Toolbar -->
<mat-toolbar class="toolbar" id="toolbar-titre">
  <img id="logo" src="../assets/img/icon/Visage%20beige+ongle-rouge.png" alt="logo" routerLink="/accueil">
  <div>
    <h1>MON PETIT DOIGT M'A DIT...</h1>
    <h1>PROTHESISTE ONGULAIRE</h1>
  </div>
</mat-toolbar>

<mat-toolbar class="toolbar" [ngStyle]="sticky" id="toolbar-menu" color="primary">
  <div>
    <a class="menu-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
    <a class="menu-link" routerLink="/prestations" routerLinkActive="active">Prestations</a>
    <a class="menu-link" routerLink="/tarifs" routerLinkActive="active">Tarifs</a>
    <a class="menu-link" routerLink="/galerie" routerLinkActive="active">Galerie</a>
    <a class="menu-link" routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

</mat-toolbar>

<mat-toolbar class="toolbar" [ngStyle]="sticky" id="toolbar-mobile-menu" color="primary">
  <img src="../assets/img/icon/Visage%20blanc+ongle-rouge.png" alt="icon-blanc"/>
  <h1>MON PETIT DOIGT M'A DIT...</h1>
  <div id="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <fa-icon style="color: #e5016f;" size="3x" [icon]="faBars"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/accueil">
        Accueil
      </button>
      <button mat-menu-item routerLink="/prestations">
        Prestations
      </button>
      <button mat-menu-item routerLink="/tarifs">
        Tarifs
      </button>
      <button mat-menu-item routerLink="/galerie">
        Galerie
      </button>
      <button mat-menu-item routerLink="/contact">
        Contact
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="content" [ngStyle]="marginContent" role="main">

  <router-outlet></router-outlet>

</div>
