* {
  font-family: Biko, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.toolbar {
  margin: 0;
  z-index: 2;
  left: 0;
  right: 0;
  font-weight: 600;
}

#toolbar-titre {
  background-color: white;
  height: 200px;
}

#toolbar-titre div {
  width: 100%;
  margin-right: 200px;
  text-align: center;
}

#toolbar-titre h1 {
  color: #ed028c;
  margin: 10px 10px 10px 10px;
  font-family: Aldo, sans-serif;
  font-size: 2em;
  display: inline-block;
}

#toolbar-menu {
  width: 100%;
  top: 0;
}

#toolbar-menu div {
  width: 100%;
  text-align: center;
}

#toolbar-mobile-menu {
  width: 100%;
  top: 0;
  position: fixed;
}

#toolbar-mobile-menu img {
  width: 50px;
}

#toolbar-mobile-menu h1 {
  font-family: Aldo, sans-serif;
  font-size: 2em;
  margin: auto;
}

#toolbar-mobile-menu {
  color: white;
}

#mobile-menu {
  outline: none;
  right: 0;
}

#logo {
  width: 200px;
  cursor: url("src/assets/img/cursor/hand-cursor-small.png"), auto;
  outline: none;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.menu-link {
  color: white;
  display: inline-flex;
  text-decoration: none;
  font-family: Aldo, sans-serif;
  font-size: 1.2em;
  margin-left: 40px;
  margin-right: 40px;
  transition: 1s ease-out;
}

.menu-link:hover {
  color: #e5016f;
  transform: translateY(+0.25rem);
}

.active {
  color: #e5016f;
  transform: translateY(+0.25rem);
}

.content {
  margin: 16px auto 32px;
  width: 1000px;
  padding: 16px 16px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  #toolbar-mobile-menu {
    display: none;
  }

  button {
    outline: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  #toolbar-titre, #toolbar-menu {
    display: none;
  }

  .content {
    width: 600px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  #toolbar-titre, #toolbar-menu {
    display: none;
  }

  #toolbar-mobile-menu h1 {
    font-size: 1em;
  }

  .content {
    width: 300px;
    margin-top: 80px;
  }
}
