<mat-grid-list gutterSize="50px" [cols]="breakpoint" rowHeight="500px">
  <mat-grid-tile>
    <div class="grid-service">
      <h2>Gel X après nails</h2>
      <img class="fit-picture"
           src="../../assets/img/nails/rouge-fonce.JPG"
           alt="Grapefruit slice atop a pile of other slices">
      <p>
        Le gel X est une capsule en gel souple qu'on fait adhérer avec du gel. Parfait pour une occasion particulière ou
        si on a pas l'habitude de se faire faire les ongles. Elles peuvent également aider à faire pousser les ongles
        pour passer ensuite au gainage.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-service">
      <h2>Extension chablon</h2>
      <img class="fit-picture"
           src="../../assets/img/nails/rouge-fonce.JPG"
           alt="Grapefruit slice atop a pile of other slices">
      <p>
        Le chablon est un support papier qui va permettre de venir fabriquer le rallongement de l'ongle avec du gel.
        Le temps de la prestation est plus long que le gel X puisqu'on vient créer l'ongle de A à Z.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-service">
      <h2>Gainage gel</h2>
      <img class="fit-picture"
           src="../../assets/img/nails/rouge-fonce.JPG"
           alt="Grapefruit slice atop a pile of other slices">
      <p>
        Le gainage consiste à venir renforcer l'ongle naturel avec du gel sans le rallonger. Idéal quand on souhaite
        faire pousser ses ongles sans qu'ils cassent. Le gainage protège l'ongle naturel.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-service">
      <h2>Remplissage</h2>
      <img class="fit-picture"
           src="../../assets/img/nails/rouge-fonce.JPG"
           alt="Grapefruit slice atop a pile of other slices">
      <p>
        Le remplissage est lorsqu'il y a déjà du gel (gainage ou chablon), que les ongles ont poussés et qu'il est temps
        de les refaire. On vient rajouter du gel là où l'ongle naturel a poussé et le remettre en forme pour partir sur
        un nouveau design.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="grid-service">
      <h2>Semi permanent</h2>
      <img class="fit-picture"
           src="../../assets/img/nails/rouge-fonce.JPG"
           alt="Grapefruit slice atop a pile of other slices">
      <p>
        Le semi permanent est un vernis gel de couleur qu'on vient appliquer sur les ongles naturels.
        Il dure 3-4 semaines en moyenne.
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
