.grid-service p{
  font-family: Biko, sans-serif;
  color: #5c5b5b;
}

.fit-picture {
  max-width: 100%;
}

.mat-grid-tile .mat-figure {
  display: inline-block;
  font-family: Aldo, sans-serif;
  font-size: 1.9em;
}
