<mat-grid-list [cols]="breakpoint" rowHeight="250px" gutterSize="0">
  <mat-grid-tile *ngFor="let picture of pictures">
    <img class="fit-picture" [src]="picture.src" [alt]="picture.alt">
  </mat-grid-tile>
</mat-grid-list>


<mat-card class="news">
  <mat-card-header>
    <div mat-card-avatar class="news-icon"></div>
    <mat-card-title>Mon actualité</mat-card-title>
    <mat-card-subtitle>Sous titre</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card-content>
</mat-card>
