h1, h2{
  font-family: Aldo, sans-serif;
  color: #bca19a;
}

.grid-service p{
  font-family: Biko, sans-serif;
  color: #5c5b5b;
}

.fit-picture {
  max-width: 100%;
}

.mat-grid-tile .mat-figure {
  display: inline-block;
  font-family: Aldo, sans-serif;
  font-size: 1.9em;
}

.news {
  margin-top: 50px;
  max-width: 400px;
  display: inline-block;
}

.news-icon {
  background-image: url('src/assets/img/icon/Visage beige+ongle-rouge.png');
  background-size: cover;
}
